.home-card img {
    max-height: 50%;
    max-width: 50%;
    background-position: left top, right top;
    background-size: 50px auto;
    overflow: hidden;
    width: 50%;
  height: auto;
  }
  
 
  .ion-header {
    background-color: blue;
  }